[MAIN]
py-version = 3.10

[FORMAT]
max-line-length = 80

[MESSAGES CONTROL]
disable =
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods

[DESIGN]
max-args = 7
max-positional-arguments = 7
max-attributes=8
max-locals=16
max-returns=8
method-rgx=^[a-z_][a-z0-9_]{2,30}$
min-public-methods=0
